.carrito_buttom
{
    margin: 3em;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    height: 4em;
    width: 10em;
    color: #ffffff;
    background-color: #F03C00;
    margin: 0.5em;
}
.carrito_buttom:hover
{
    background-color: #FFFFFF;
    color: #222222;
}
.product_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
