.productPhoto
{
    height: 20em;
    width: 25em;
}
.itemDetail
{
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 5em;
    display: flex;
    flex-direction: row;    
    font-size: 0.85em;
    border-left: 3px solid #f03c00;
}
h2
{
    color: #F03C00;
    font-weight: 800;
}
strong
{
    color: #F03C00;
}