*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}
.items-container
{
	display: flex;
	margin-right: 11px;
	margin-left: 10px;
}