*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}
header
{
    box-shadow: 10px 10px 130px 0px rgba(0,0,0,0.75);
    margin: 0px;
    padding-left: 10em;
    padding-right: 11em;
    background-color: white;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button-menu
{
    margin: 3em;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    width: 10em
}
.logo img
{
    width: 200px;
    height: 200px;
}
.button-menu:hover {
    color: #ffffff;
    background-color: #F03C00;
}
