*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}
header
{
    margin: 0px;
    padding-left: 10em;
    padding-right: 11em;
    background-color: #BDC5E6;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn
{
    background-color: #ffffff;
}
.logo img
{
    width: 200px;
    height: 200px;
}
.buttons button:hover {
    color: #ffffff;
    background-color: #006570;
}
